<div class="fdetails-master">
    <!-- menu start -->
    <div>
        <app-Menu [menuItem]="1"></app-Menu>
    </div>
    <!-- menu end -->
    <div class="containerr">
        
            <div class="row">
                <div class="col-md-12">
                    <h2>Biais Articles</h2>
                    <ul class="bread">
                        <li><a href="#/home"><i class="fas fa-home"></i> Dashboard</a></li>
                        <li class="slash">\</li>
                        <li>Demand Management</li>
                        <li class="selected"><a href="#/biaisarticle">Biais Articles</a></li>
                    </ul>
                   
                </div>
            </div>

        <div class="row " style="width: 100%;display: flex;justify-content: space-between;align-items: flex-end;margin-bottom: 6px;margin-left: 0px !important;padding: 13px 10px;
        background-color: #ecf3fb;">
            <div style="display: flex;">
                <div class="time center-v-l" style="display: flex;align-items: flex-end;margin-left: 0px !important;">
                    <div class="date-holder">
                        <span>Date début:</span>
                        <input type="date" [(ngModel)]="dateDebut">
                    </div>
                    <div class="date-holder">
                        <span>Date Fin:</span>
                        <input type="date" [(ngModel)]="dateFin">
                    </div>
                    <div>
                        <button class="btn btn-primary button-filter " (click)="filter()" ><i class="fas fa-filter"></i> Filtrer</button>
                    </div>
                    <div class="filterDate" style="margin-bottom: 3px;">
                        <!-- <span>Date debut</span>
                        <input placeholder="Date" class="textbox-n" type="text" onfocus="(this.type='date')">
                        <span>Date Fin:</span>
                        <input type="date"> -->
                        Période : {{getMonths()}} Mois
                    </div>
                </div>

            </div>
            
            <div class="">
                <a href="#/biais" class="fabtn">Biais</a>
                <a href="#/biaisfamille" class="fabtn">Familles</a>
            </div>

        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2">
                <span class="loading" style="padding-top: 80%;margin-left: -8%;"  *ngIf='dataLoading'>
                    <i class="fas fa-spinner fa-spin"></i> Familles....
                </span>
                <div class="Box-famille">
                    <div class="row">
                        <div class="col-md" style="margin-top: 10px;"  *ngFor="let item of familles">
                            <button type="button" class="btn btn-primary btn-fam" [class.ac]="item.id == famille" (click)="setFamille(item.id)">{{item.famille}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <span class="loading" style="padding-top: 80%;margin-left: -8%;"  *ngIf='dataLoadingArticles'>
                    <i class="fas fa-spinner fa-spin"></i> Articles....
                </span>
                <div class="Box-famille">
                    <div class="" style="height: 250px;">
                        <div class="" style="margin-top:10px">
                            <input type="text" class="input-search" placeholder="Recherche" (input)="onSearchChange($event.target.value)">
                        </div>
                        <div class="" style="margin-top: 10px;"  *ngFor="let item of articlesFiltred">
                            <button type="button" class="btn btn-primary btn-fam" [class.ac]="item.code == code" (click)="setArticle(item.code,item.id)">{{item.code}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="Box-graph">
                    <div class="row">
                        <div class="col-md" style="margin-top: 10px;">
                            <span class="loading" *ngIf='dataLoadingChart'>
                                <i class="fas fa-spinner fa-spin"></i> Graphique....
                            </span>
                            <ejs-chart #chart id="chart-container" [primaryXAxis]='primaryXAxis' [tooltip]='tooltip' width='865' height='400'>
                                <e-series-collection>
                                    <e-series [dataSource]='chartData' type='Line' xName='month' yName='prevision' name='prevision' [marker]='marker'></e-series>
                                     <e-series [dataSource]='chartData2' type='Line' xName='month' yName='demande' name='demande' [marker]='marker'></e-series>
                                </e-series-collection>
                            </ejs-chart>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="row" >
           <div class="col-md" style="margin-bottom: 50px;">
               <div class="control-section">
                <span class="loading" style="padding-top: 55px"  *ngIf='dataLoadingTable'>
                    <i class="fas fa-spinner fa-spin"></i> Chargment données....
                </span>
                    <ejs-grid #grid [dataSource]='cvArticleDataDetails' allowResizing= 'true' [editSettings]='editSettings'>
                        <ng-template #detailTemplate let-data>
                            <div style="padding: 10px;">
                               <div style="display: flex;justify-content: space-between;">
                                    <h6>Liste des Causes et des Actions faites pour le mois de : {{getDate(data?.monthID)}} {{data.monthID}}</h6>
                                    <button class="causebtn" (click)="addcause()">Ajouter une Cause</button>
                               </div>
                               <div *ngIf="!causesData">
                                   <span>
                                    Il n'y a aucune donnée disponible
                                   </span>
                               </div>
                               <div style="display: flex;" >
                                   <div style="width: 60%;">
                                       <ul>
                                           <li *ngFor="let item of getcausesData(data.monthID)" class="liflex">
                                                <div style="display: flex;flex-direction: column;">
                                                    <span style="font-weight: bold;">{{item?.date}} : {{item?.cause}}</span>
                                                    <span>{{item?.action}}</span>
                                                </div>
                                                <span>
                                                    <span  style="margin-right: 10px;font-size: 16px;"><ion-icon name="create" (click)='editCause(item?.id)'></ion-icon></span>
                                                     <span style="color:red;margin-right: 30px;font-size: 16px;"><ion-icon name="trash" (click)="confirmBtnClick(item?.id)"></ion-icon></span>
                                                </span>
                                                
                                           </li>
                                       </ul>
                                   </div>
                                   <div style="width: 40%;" class="formHolder" *ngIf="formShow">
                                       <div class="col-md">
                                           <label for="date">Date : </label>
                                           <input id="date" type="date" class="nput" [(ngModel)]="formDate">
                                       </div>
                                       <div class="col-md">
                                           <label for="cause">Cause : </label>
                                           <input type="text" id="cause" class="nput" [(ngModel)]="formCause">
                                       </div>
                                       <div class="col-md">
                                           <label for="action">Action : </label>
                                           <textarea name="" id="action" cols="30" rows="10" class="nput" [(ngModel)]="formAction"></textarea>
                                       </div>
                                       <div class="col-md" style="display: flex;justify-content: flex-end;">
                                           <button class="formbtn" (click)="closecause()">Annuler</button>
                                           <button class="formbtn" (click)="validateCause()">Valider</button>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        </ng-template>
                        <e-columns>
                            <e-column field='d' headerText='Période' width='120'>
                                <ng-template #template let-data>
                                    <span class="poin" *ngIf="data">{{data?.periode}}</span>
                                </ng-template>
                            </e-column>
                             <e-column field='lol' headerText='Désignation' width='120' textAlign='Center'>
                                 <ng-template #template let-data>
                                    <div *ngIf="data">
                                        <span id="Emptext">{{getArticleName}}</span>
                                      </div>                  
                                </ng-template>
                            </e-column>
                            <e-column field='lol' headerText='Prévision' width='120' textAlign='Center'>
                                 <ng-template #template let-data>
                                    <div *ngIf="data">
                                        <span id="Emptext">{{data?.prevision}}</span>
                                      </div>                  
                                </ng-template>
                            </e-column>
                            <e-column field='Freight' headerText='Ventes' width='150' textAlign='Center'>
                                 <ng-template #template let-data>
                                    <div *ngIf="data">
                                        <span id="Emptext" >{{data?.demande}}</span>
                                        <!-- <span id="Emptext" *ngIf="!getDemandes(data?.id)">0</span> -->
                                      </div>                  
                                </ng-template>
                            </e-column>
                            <e-column field='zone' headerText='Ecarts' width='150' textAlign='Center'>
                                <ng-template #template let-data>
                                    <div>
                                        <span id="Emptext" >{{data?.ecart}}</span>
                                        <!-- <span id="Emptext" *ngIf="!getDemandes(data?.id)">{{0 - getPrevisions(data?.id)}}</span> -->
                                      </div>                  
                                </ng-template>
                            </e-column>
                            <e-column field='zone2' headerText='Ecarts Cumulés' width='150' textAlign='Center'>
                                <ng-template #template let-data>
                                    <div>
                                        <span id="Emptext">{{data?.ecartCumule}}</span>
                                      </div>                  
                                </ng-template>
                            </e-column>
                            <!-- <e-column field='ShipCountry' headerText='Actions' width='150' textAlign='Center'>
                                <ng-template #template let-data>
                                    <ion-icon name="bar-chart" (click)="onOpenDialogform(1)"></ion-icon>
                                </ng-template>
                            </e-column> -->
                          
                        </e-columns>
                        <e-aggregates>
                            <e-aggregate>
                                <e-columns>
                                    <e-column field="zone2" type="sum">
                                        <ng-template #footerTemplate let-data>Total Cumulé : {{cumuleSave}}</ng-template>
                                    </e-column>
                                </e-columns>
                                <e-columns>
                                    
                                </e-columns>
                            </e-aggregate>
                        </e-aggregates>
                    </ejs-grid>
                
                </div>
           </div>
           <div style="margin-top:100px"></div>
        </div>
    </div>
</div>
<div style="height: 100px;"></div>

<div class="control-section">

    <!-- Render Button to open the Dialog -->        
    <ejs-dialog #Dialogform  [visible]='false'
        [showCloseIcon]='showCloseIconform' [target]='targetform' [width]='widthform' [height]='heightform' style="max-height: none;">
        <ng-template #content>
            <div >
                <!-- chart ici -->
               this is the form u have to edit 
        </div>
        </ng-template>
    </ejs-dialog>
</div>

<ejs-dialog #confirmDialog id="conf" [visible]='hidden' [height]='150' [header]='confirmHeader' [animationSettings]='animationSettings' [showCloseIcon]='confirmCloseIcon'  [target]='target'
        [width]='confirmWidth'>
        <ng-template #content>
            <span>êtes vous sûr de vouloir supprimer cette valeur ?</span>
            <div style="display: flex;justify-content: flex-end;margin-top: 18px;">
                <button class="btnDeletec" (click)="closeConfirm()">Annuler</button>
                <button class="btnDeletev" (click)="deleteCause()">Valider</button>
            </div>
        </ng-template>
    </ejs-dialog>