<div class="coefficient-master">
  <div>
    <app-Menu [menuItem]="0"></app-Menu>
  </div>
  <div class="containerr">
    <div class="row" style="margin-bottom: 15px;">
      <div class="col-md-12">
        <h2 style="color:black;">Prévisisons Pyramidale</h2>
      <ul class="bread">
          <li><a href="#/home"><i class="fas fa-home"></i> Dashboard</a></li>
          <li class="slash">\</li>
          <li>Master Scheduling</li>
          <li class="selected"><a href="#/pyramidale">Prévisisons Pyramidale</a></li>
      </ul>
      </div>
      
    </div>
    <div style="padding-bottom: 50px;">
      <table class="table-ob">
        <tr class="theader">
          <td class="dateChanger"><i class="fas fa-caret-left" (click)="previousYear()"></i> {{yearDate()}} <i class="fas fa-caret-right" (click)="nextYear()"></i></td>
          <td *ngFor='let item of dateRange(year),let i = index'  (click)="selectObjectif(i)" [class.selectedObt]="i == selectedOb">{{item}}</td>
          
        </tr>
        <tr class="ob-data">
          <td class="title">Objectifs (Dhs)</td>
          <td *ngFor="let item of rangeObjectif,let i = index" [class.selectedOb]="i == selectedOb"> 
            <span (click)="showInputObGlobal(i,item)"  *ngIf="showInputIndex != i">{{CurrencyFormat(item)}}</span>
            <span>
              <input class="objectifInput" type="number" *ngIf="showInputIndex == i && selectedOb == i" [value]="item" [(ngModel)]="globalInputValue" (keyup.enter)="confirmOb()">
            </span>
          </td>
        </tr>
        <tr class="ob-data">
          <td class="title">Réalisations (Dhs)</td>
          <td *ngFor="let item of rangeRealisation, let i =index"  [class.selectedOb]="i == selectedOb">{{CurrencyFormat(item)}}</td>
        </tr>
      </table>
      <h6 style="margin-top: 20px;">Liste Objectifs et Réalisations du Mois : <span style="font-weight: bold;">{{selectedMonth}}</span></h6>
      <div class="cont">
        <table class="table-f">
          <tr class="fheader">
            <td style="text-align: left;" (click)="sortFamille('famille')" [class.selectedType]="selectedType == 'famille'">Familles</td>
            <td style="width:80px" (click)="sortFamille('mix')" [class.selectedType]="selectedType == 'mix'">MIX</td>
            <td style="width:150px" (click)="sortFamille('objectif')" [class.selectedType]="selectedType == 'objectif'">Objectifs</td>
            <td style="width:150px" (click)="sortFamille('realisation')" [class.selectedType]="selectedType == 'realisation'">Réalisations</td>
          </tr>
          <tr class="ob-data" *ngFor='let item of finalData'>
            <td class="title tdo" >
              <span class="familleSelector" (click)="showArticle(item.famille_id)">
                {{item.famille}}
              </span>
            </td>
            <td>{{item.mix}}%</td>
            <td style="text-align: right;padding-right: 10px;"  (click)="FamilleClick(item.famille)">
              <span class="dotted" [class.cause]="item.cause != null">{{item.objectif.toLocaleString()}}</span>
            </td>
            <td style="text-align: right;padding-right: 10px;">{{item.realisation.toLocaleString()}}</td>
          </tr>
          <tr class="ob-data" style="background-color: #e7e7e7;">
            <td style="text-align: left;font-weight: bold;padding-left: 10px;">Total</td>
            <td style="font-weight: bold;">100%</td>
            <td style="text-align: right;padding-right: 10px;font-weight: bold;">{{familleTotals[0]?.objectifs?.toLocaleString() || 0}}</td>
            <!-- <td>{{CurrencyFormat(totalDetails)}}</td> -->
            <td style="text-align: right;padding-right: 10px;font-weight: bold;">{{familleTotals[0]?.commandes?.toLocaleString() || 0}}</td>
          </tr>
         
        </table>
        <!-- <button ejs-button id='dlgbtn' #ButtonInstance (click)="BtnClick()">Open</button> -->
        <div>
          <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width' align='center' id='chartcontainer' [primaryXAxis]='primaryXAxis'
              [primaryYAxis]='primaryYAxis' [title]='title' [tooltip]='tooltip' (load)='load($event)'>
              <e-series-collection>
                  <e-series [dataSource]='finalDataChart' type='Bar' xName='famille' yName='objectif' name='Objectifs' [marker]='marker'> </e-series>
                  <e-series [dataSource]='finalDataChart' type='Bar' xName='famille' yName='realisation' name='Réalisations' [marker]='marker'> </e-series>
              </e-series-collection>
          </ejs-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="control-section">

  <!-- Render Button to open the Dialog -->
  <!-- <button ejs-button id='dlgbtn' #ButtonInstance (click)="BtnClick()">Open</button> -->

  <ejs-dialog #Dialog [header]='headerM'
      [showCloseIcon]='showCloseIconM' [target]='targetM'  [visible]='false' [width]='widthM'  (close)="dialogClose()">
      <ng-template #content>
         <div>
          <div>
              <div class="control-label">Objectif : </div>
              <!-- Render Numeric Textbox -->
              <ejs-numerictextbox [(ngModel)]="familleInputObjectif"></ejs-numerictextbox>
          </div>
          <div>
              <div class="control-label">Cause : </div>
              <!-- Render Numeric Textbox -->
              <textarea name="" id="" style='width:100%' rows="10" [(ngModel)]="familleInputCause"></textarea>
          </div>
           <div style="text-align: right;">
             <button class="familleBTN" (click)="editFamilleObjectif()">Valider</button>
           </div>
         </div>
      </ng-template>
  </ejs-dialog>
</div>



<div class="control-section">

  <!-- Render Button to open the Dialog -->
  <!-- <button ejs-button id='dlgbtn' #ButtonInstance (click)="BtnClick()">Open</button> -->

  <ejs-dialog #DialogArticle [header]='headerA' style="left:150.8941px!important"
      [showCloseIcon]='showCloseIconA' [target]='targetA'  [visible]='false' [width]='widthA'  (close)="dialogCloseA()">
      <ng-template #content>
         <div>
          <ejs-grid #grid [dataSource]='finalArticleData' allowPaging='true' (toolbarClick)='toolbarClick($event)' [allowExcelExport]='true' allowSorting='true' [pageSettings]='initialPage' [toolbar]='toolbar'>
            <e-columns>
                <e-column field='code' headerText='Code' width='120'></e-column>
                <e-column field='designation' headerText='Désignation' width='300'></e-column>
                <e-column field='mix' headerText='Mix' width='100' textAlign='Right'></e-column>
                <e-column field='stock' headerText='Stock (U)' width='110' textAlign='Right'></e-column>
                <e-column field='qte' headerText='Quantité (U)' width='135' textAlign='Right'></e-column>
                <e-column field='objectif' headerText='Objectif (Dhs)' width='135' textAlign='Right'>
                  <ng-template #template let-data> 
                    <div (click)="showInputRow(data.id,data.objectif)">
                      <span [class.cause]="data.objectifExist == true" *ngIf="data.id != selectedRow">{{data.objectif.toLocaleString()}}</span>
                      <input style="width: 100%;" type="number" [value]="data.objectif" *ngIf="data.id == selectedRow"  [(ngModel)]="newObjectif" (keyup.enter)="saveArticleObjectif(data.id,data.objectif)">
                    </div>
                    
                  </ng-template>
                </e-column>
                <e-column field='realisation' headerText='Réalisation (Dhs)' width='135' textAlign='Right'>
                  <ng-template #template let-data> 
                    <div>
                      <span>{{data.realisation.toLocaleString()}}</span>
                    </div>
                    
                  </ng-template>
                </e-column>
                <e-column field='tau' headerText='Taux' width='100' textAlign='Right'>
                  <ng-template #template let-data> 
                    <div>
                      <span>{{data.tau}}%</span>
                    </div>
                    
                  </ng-template>
                </e-column>
            </e-columns>
        </ejs-grid>
        
         </div>
      </ng-template>
  </ejs-dialog>
</div>