.coefficient-master {
    width: 100vw;
    height: 100vh;
    
    .big-titre {
        /* margin-left: 24vw; */
        font-weight: bold;
        color: #383888;
        font-size: 1.5vw;
    }
    .containerr {
        margin-left: 10%;
        padding-top: 10vh;
        width: 87%;
    }
    .table {
        width: 97%;
        margin-top: 5vh;
    }
    .table1 {
        width: 100%;
    }
     ::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 10px;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: blue;
    }
    .drop-down {
        width: 80%;
        margin-top: 2vh;
        height: 4vh;
        /* font-size: 7vh; */
        font-size: 10px;
        font-weight: bold;
        color: green;
    }
    .control-drop {
        height: 4vh;
        /* font-size: 7vh; */
        font-size: 10px;
        font-weight: bold;
        color: green;
    }
    .button-ok {
        margin-left: 42vw;
        margin-top: 1vw;
    }
    .tre {
        background-color: grey;
        height: 1px;
        width: 100%;
    }
    .time {
        font-size: 10px;
        font-weight: bold;
        margin-left: 1vw;
        /* border: solid; */
        height: 3vw;
    }
    .modal-filters {
        width: 29vw;
        font-size: 12px;
        font-weight: bold;
        height: 79vh;
    }
    .modal-graph {
        width: 60vw;
        margin-left: -36%;
        border-radius: 2%;
        background-color: #1e2752;
        margin-top: 6vw;
        .graph-r {
            color: white;
            margin-left: 49vw;
            margin-top: 2vw;
            font-size: 1vw;
            font-weight: bold;
        }
        .btn-graph {
            margin-top: -1vw;
            margin-left: 51vw;
        }
    }
}





.disabled-btn{
	color: #d7cabd!important;
}

.enabled-btn{
	color: black!important;
}

ejs-dialog {
  max-height: 775px !important;
  top: 8% !important;
}

.e-dialog .e-dlg-header-content + .e-dlg-content{
	padding-top: 18px!important;
}

.button-filter{
    font-size: 11px;
    background-color: #033973;
    border: none;
}

.e-headercell,.e-detailheadercell{
    color: white;
    background-color: #033973;
}

.e-dialog .e-dlg-header-content{
    padding: 10px 19px;
    background-color: #033973;
}
.e-dialog .e-dlg-header{
    color: white;
}
.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn{
    background-color:white
}

.filterForm{
    width:100%;

    tr td{
        width:50%;
        padding: 4px 0px;
    }
}

.filterValider{
    border: none;
    background-color: #033973;
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
}

.select-nput{
    width: 100%;
    height: 28px;
}

.menu-a{
    border-radius: 50px;
    background-color: #098c83;
}

.sub-a{
    border-radius: 7px;
    padding: 4px;
    background-color: #098c83;
}

.filterDate{
    background-color: #033973;
    color: white;
    height: 20px;
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    margin-left: 1vw;
}

.select-filter{
    width: 250px;
    height: 30px;
    margin-right: 10px;
    outline: none;
    padding: 0px 10px;
    // border-color: #e0e0e0;
    // background-color: #fafafa;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    font-size: 13px;
}

.article-filter{
    height: 35.5px;
    width: 250px;
    background-color: #fafafa;
    outline: none;
    border: none;
    padding: 2px 10px;
    border-left: 2px solid #e0e0e0;
}

.btn-filter{
    height: 30px;
    border:none;
    // border-radius: 2px;
    color: rgb(211, 158, 136);
    background-color: #033973;
    
}


.rowtd{
    background-color: #fff2bd;
}

#PivotView .e-pivotview .e-grid .e-headercelldiv, .e-pivotview .e-grid .e-columnsheader{
    padding-left: 6px!important;
}

.filterBar{
    display:flex; justify-content:space-between;margin-right: 20px;
    background-color: whitesmoke;
    padding: 0px;
    border: 1px solid;
    border-color: #e0e0e0;
    border-bottom: none;
}

.paraBtn{
    font-size: 13px;
    border: none;
    padding: 10px 10px;
    background-color: whitesmoke;
    border-left: 1px solid #e0e0e0;
    outline: none;
    color: black;
    text-decoration: none;
    &:hover{
        background-color: #f9f9f9;
        cursor: pointer;
    }
}
.paroBtn{
    font-size: 13px;
    border: none;
    padding: 10px 10px;
    background-color: whitesmoke;
    border-right: 1px solid #e0e0e0;
    outline: none;
    color: black;
    text-decoration: none;
    &:hover{
        background-color: #f9f9f9;
        cursor: pointer;
    }
}
.spanEx{
    font-size: 13px;
    border: none;
    padding: 10px 10px;
    background-color: whitesmoke;
    border-left: 1px solid #e0e0e0;
    outline: none;
}

.aff{
    border-left: 1px solid #e0e0e0;
}

.select-filter2{
    width: 100px;
    height: 30px;
    margin-right: 10px;
    outline: none;
    padding: 0px 10px;
    // border-color: #e0e0e0;
    // background-color: #fafafa;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    font-size: 13px;
}

.formPara{
    span{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    select{
        height: 30px;
    }
    input{
        height: 30px;
    }
    .paraValide{
        margin-top: 20px;
        height: 40px;
        background-color: #033973;
        border: none;
        color: white;
    }
}


.pivot2{
    width:98.5%;
    tr.header{
        background-color: #f5f5f5;
        height: 30px;
        font-size: 13px;
        td{
            border: 1px solid #c8c8c8;
            text-align: center;
            color:#000000ad
        }
    }
    tr.subheader{
        background-color: #f5f5f5;
        height: 30px;
        font-size: 13px;
        td{
            border: 1px solid #c8c8c8;
            // border-top:none;
            text-align: center;
            color:#000000ad
        }
    }
    tr.data{
        &:hover{
            background-color: #03397329;
        }
        td.title{
            background-color: #f5f5f5;
            height: 30px;
            font-size: 13px;
            text-align: left;
            padding-left: 10px;
            width: 281px;
        }
        td.subtitle{
            background-color: #fbfbfb;
            height: 30px;
            font-size: 13px;
            text-align: left;
            padding-left: 30px;
            width: 281px;
        }
        td{
            border: 1px solid #c8c8c8;
            border-top:none;
            text-align: center;
            color:#000000ad;
            font-size: 13px;
            width: 84px;
         
        }
    }
}

.plu{
    width: 283px;
}

.tabD{
    td{
        // &:nth-child(2) {
        //     background-color: #a5ff0033;
        //     font-weight: bold;
        // }
        // &:nth-child(3) {
        //     background-color: #a5ff0033;
        //     font-weight: bold;
        // }
    }
    td.vide{
        background-color: white;
    }
}

.inpu{
    width: 46px;
    background-color: #7fffd400;
    outline:none;
    border: none;
    border-bottom: 3px solid #098c83;
}


.pager{
    margin: 0 40px;
}
.pagebtn{
    border: none;
    padding: 4px 15px;
    background-color: #f5f5f5;
    color: black;
    border-radius: 3px;
    outline: none;
}

.spano{
    background-color: whitesmoke;
    padding: 5px 0px;
    border: 1px solid #c8c8c8;
}

.recommanded{
    background-color: #edffcc;
}

.conf{
    border: none;
    background-color: #033973;
    padding: 4px 10px;
    border-radius: 3px;
    font-size: 12px;
    color: white;
    outline: none;
    width: 110px;
}
.b{
    background-color: #098c83;
}

.table-ob{
    width:100%
}
.theader{
    background-color: #033973;
    color: white;
    td{
        padding: 4px 10px;
        text-align: center;
        font-size:13px;
        
    }
    border:1px solid #033973;
        border-bottom: none;
}
.ob-data{
    td{
        text-align: center;
        padding: 4px 0px;
        border:1px solid #d6d6d6;
        font-size:13px;

        &.title{
            text-align: left;
            padding-left:10px;
            font-weight: bold;
        }
    }
    &:hover{
        background-color: #f3f3f3;
    }
}
.ob-data-total{
    td{
        text-align: center;
        padding: 4px 0px;
        border:1px solid #d6d6d6;
        font-size:13px;

        &.title{
            text-align: left;
            padding-left:10px;
            font-weight: bold;
        }
    }
    &:hover{
        background-color: #f3f3f3;
    }
    background-color: #f3f3f3;
    font-weight: bold;
}

.table-f{
    width:50%;
    margin-top:10px
}
.fheader{
    background-color: #033973;
    color: white;
    td{
        padding: 4px 10px;
        text-align: center;
        font-size:13px;
        
    }
    border:1px solid #033973;
        border-bottom: none;
}

.dateChanger{
    font-size: 14px!important;
    display: flex;
    justify-content: space-around;
    align-items: center;

    i{
        width: 45px;
        cursor: pointer;
    }
}
.objectifInput{
    outline: none;
    border: 1px solid #ababab;
    padding: 1px 6px;
}

.selectedOb{
    background-color: #e5e3e3;
    font-weight: bold;
}
.selectedObt{
    background-color: black;
    font-weight: bold;
}


ul.bread{
    list-style: none;
    display: flex;
    padding-left: 0px;
    //background-color: bisque;
    //width: 535px;
    li{
        padding: 6px 15px;
        background-color: #fafafa;
        color: #8f8f8f;
        font-weight: bold;
        font-size: 11px;
        border-top:1px solid #e0e0e0;
        border-bottom:1px solid #e0e0e0;
        &.slash{
            padding:6px 0px!important;
        }
        a{
            text-decoration: none;
            color:#8f8f8f;
            
        }
        &.selected{
            background-color: #098c83;
            color: white;
            min-width: 130px;
    text-align: center;
            // border-top-right-radius: 50px;
            // border-bottom-right-radius: 50px;
            a{
                color:white;
            }
        }
        &:first-child{
            border:1px solid #e0e0e0;
            border-right: none;
        }
        &:last-child{
            border:1px solid #098c83;
            border-left: none;
        }
    }
}

td{
    cursor: pointer;
}

.cont{
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
}




html,body{
    background-color: #f7f7f7!important;
}
.mainContainer{
    margin-left:10%;
    display: flex;
    flex-direction: column;
}
.statsContainer{
    display: flex;
    justify-content: space-between;
}

.statsItem{
    width: 24.7%;
    height: 50px;
}

.statsItem{
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    // box-shadow: 0px 1px #c1c1c133;
    border: 1px solid #cdc6c6;
}

.tabContainer{
    display: flex;
    justify-content: flex-start;
    background-color: white;
    margin: 4px 0px;
    margin-top: 20px;
    border-bottom: 1px solid #30426c;
}
.tabItem{
    margin: 4px 0px;
    background-color: white;
    padding: 10px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #646464;
    font-weight: 500;
    margin-bottom: 0px;
}
.tabItem.active{
    margin: 4px 0px;
    background-color: #30426c;
    padding: 10px;
    font-size: 13px;
    color: white;
    margin-bottom: 0px;
}
.tabItem:hover{
    background-color: #30426c;
    color: white;
    cursor: pointer;
}

.tableGlobalContainer{
    
    background-color: white;
    padding: 10px 0px; 
}
.tabBody{
    background-color: white;
}

.firstStat{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.firstStatRight{
    display: flex;
    flex-direction: column;
    text-align: end;
    .title{
        font-size: 12px;
        text-align: justify;
    }
    .valeur{
        font-weight: 700;
    }
}
.firstStatLeft{
    display: flex;
    flex-direction: column;
    text-align: start;
    .title{
        font-size: 12px;
    }
    .valeur{
        font-weight: 700;
    }
}
.statIcon{
    font-size: 18px;
}
.statMinus{
    font-size: 18px;
    font-weight: 500;
    background-color: antiquewhite;
    padding: 5px 15px;
    border-radius: 5px;
    color: red;
}
.statPlus{
    color: green;
    font-size:18px;
    font-weight: 500;
    background-color: #dcfad7;
    padding: 5px 15px;
    border-radius: 5px;
}

.stoc{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 4.4px;
}