<div class="coefficient-master">
  <div>
    <app-Menu [menuItem]="0"></app-Menu>
  </div>
  <div class="containerr">
    <div class="statsContainer">
      <div class="statsItem firstStat">
        <div style="font-size: 18px;width:100%;font-weight: bold;color:#098c83">
          <i class="fas fa-money-check-alt statIcon"></i> Chiffre d'affaires
        </div>
        <div style="width: 150px;display:flex;align-items: center;justify-content: center;">
          <span class="title statMinus"  *ngIf="statsGlobal?.negative == true"><i class="fas fa-angle-double-down"></i>  {{statsGlobal.dif}}% </span>
          <span class="title statPlus"  *ngIf="statsGlobal?.negative == false"><i class="fas fa-angle-double-up"></i>   {{statsGlobal.dif}}% </span>
        </div>
        <div class="firstStatRight">
          <span class="title">Chiffre Affaire du {{statsGlobal.date1}}</span>
          <span class="valeur">{{statsGlobal?.ventes1 || 0}} Dhs</span>
          <span class="title">Chiffre Affaire du {{statsGlobal.date2}}</span>
          <span class="valeur">{{statsGlobal?.ventes2 || 0}} Dhs</span>
        </div>
      </div>
      <div class="statsItem firstStat">
        <div style="font-size: 18px;width:100%;font-weight: bold;color:#098c83">
          <i class="fas fa-bullseye statIcon"></i> Objectifs
        </div>
        <div style="width: 150px;display:flex;align-items: center;justify-content: center;position: relative;">
          <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [plotOptions]="chartOptions.plotOptions"
          [labels]="chartOptions.labels"
          [fill]="chartOptions.fill"
          [stroke]="chartOptions.stroke" style="position: absolute!important;"
        ></apx-chart>
        </div>
        <div class="firstStatRight">
          <span class="title">Chiffre Affaire du {{statsGlobal.date2}}</span>
          <span class="valeur">{{statsGlobal?.ventes2 || 0}} Dhs</span>
          <span class="title">Objectif du {{statsGlobal.date2}}</span>
          <span class="valeur">{{statsGlobal?.objectif2 || 0}} Dhs</span>
        </div>
      </div>
      <div class="statsItem firstStat">
        <div style="font-size: 18px;width:100%;font-weight: bold;color:#098c83">
          <i class="fas fa-warehouse statIcon"></i> Stock
        </div>
        <div style="width:75px;display:flex;align-items: center;justify-content: center;position: relative;">
          <ejs-sparkline id="column" height="80px" width="70%" valueType="Category" highPointColor="#14aa21"  [tooltipSettings]="columntooltipSettings"
          fill="#3C78EF" type="Column" [dataSource]="columnData"
          xName="xval" yName="yval"></ejs-sparkline>
        </div>
        <div class="firstStatRight" style="width: 225px!important;">
          <div class="stoc">
            <span class="title">Stock {{statsGlobal.dateStock}}</span>
            <span class="valeur">{{statsGlobal?.stockprev || 0}}Dhs</span>
          </div>
          <div></div>
          <div class="stoc">
            <span class="title">Stock Encours</span>
            <span class="valeur">{{statsGlobal?.stocknow || 0}}Dhs</span>
          </div>
          <div class="stoc">
            <span class="title">Couverture Stock</span>
            <span class="valeur">{{statsGlobal?.couverture || 0}}</span>
          </div>
        </div>
        <!-- <div class="firstStatRight">
          <span class="title">Stock fin du Mois {{statsGlobal.dateStock}}</span>
          <span class="valeur">{{statsGlobal?.stockprev || 0}}</span>
          <span class="title">Stock Encours</span>
          <span class="valeur">{{statsGlobal?.stocknow || 0}}</span>
        </div> -->
      </div>
   
      <div class="statsItem firstStat">
        <div style="font-size: 18px;width:100%;font-weight: bold;color:#098c83">
          <i class="fas fa-luggage-cart statIcon"></i> Achats
        </div>
        <div class="firstStatLeft">
          <span class="title">Mois Encours</span>
          <span class="valeur">{{statsGlobal?.achatsNbre || 0}} Achats</span>
          <span class="title">Articles en arrivage</span>
          <span class="valeur">{{statsGlobal?.achatsQte || 0}} Articles</span>
        </div>
        <div style="height: 80px;border-left: 1px solid #e9e9e9;"></div>
        <div class="firstStatLeft">
          <span class="title">Mois : {{statsGlobal.achatsNextDate}}</span>
          <span class="valeur">{{statsGlobal?.achatsNextNbre || 0}} Achats</span>
          <span class="title">Articles en arrivage</span>
          <span class="valeur">{{statsGlobal?.achatsNextQte || 0}} Articles</span>
        </div>
      </div>
    </div>
    <div class="tabBody">
      <div class="tabContainer">
        <span class="tabItem" [class.active]="vente" (click)="vente = true"><i class="fas fa-globe-africa"></i> Ventes et Ojectifs</span>
        <!-- <span class="tabItem"><i class="fas fa-dollar-sign"></i> Stocks</span>
        <span class="tabItem"><i class="fas fa-bullseye"></i> Objectifs</span> -->
        <span class="tabItem" [class.active]="vente == false" (click)="vente = false"><i class="fas fa-warehouse"></i> Stocks</span>
      </div>
      <!-- first TAB here -->
      
    </div>
    <div *ngIf="vente">
      <div class="tableGlobalContainer">
        <table class="table-ob">
          <tr class="theader">
            <td class="dateChanger"><i class="fas fa-caret-left" (click)="previousYear()"></i> {{yearDate()}} <i class="fas fa-caret-right" (click)="nextYear()"></i></td>
            <td *ngFor='let item of dateRange(year),let i = index'  (click)="selectObjectif(i)" [class.selectedObt]="i == selectedOb">{{item}}</td>
          </tr>
          <tr class="ob-data">
            <td class="title">Objectifs (Dhs)</td>
            <td *ngFor="let item of rangeObjectif,let i = index" [class.selectedOb]="i == selectedOb"> 
              <span   *ngIf="showInputIndex != i">{{CurrencyFormat(item)}}</span>
            </td>
          </tr>
          <tr class="ob-data">
            <td class="title">Prévisions (Dhs)</td>
            <td *ngFor="let item of rangePrevision,let i = index" [class.selectedOb]="i == selectedOb"> 
              <span   *ngIf="showInputIndex != i">{{CurrencyFormat(item)}}</span>
            </td>
          </tr>
          <tr class="ob-data">
            <td class="title">Réalisations (Dhs)</td>
            <td *ngFor="let item of rangeRealisation, let i =index"  [class.selectedOb]="i == selectedOb">{{CurrencyFormat(item)}}</td>
          </tr>
        </table>
        <!-- Table Chart here -->
        <!-- select date,sum(quantite) from stocks where date in (select max(date) from stocks group by extract(month from date)) group by date -->
        <div style="margin-top: 20px;border: 1px solid #d6d6d6;">
          <apx-chart #charttable
          [series]="chartOptions2.series"
          [chart]="chartOptions2.chart"
          [xaxis]="chartOptions2.xaxis"
          [dataLabels]="chartOptions2.dataLabels"
          [grid]="chartOptions2.grid"
          [stroke]="chartOptions2.stroke"
          [title]="chartOptions2.title"
        ></apx-chart>
        </div>
      </div>

      <div style="padding-bottom: 50px;">
      
        <h6 style="margin-top: 20px;">Liste Objectifs, Prévisions et Réalisations du Mois : <span style="font-weight: bold;">{{selectedMonth}}</span></h6>
        <div class="cont">
          <table class="table-f">
            <tr class="fheader">
              <td style="text-align: left;">Familles</td>
              <td style="width:80px">MIX</td>
              <td style="width:120px">Objectifs</td>
              <td style="width:120px">Prévisions</td>
              <td style="width:120px">Réalisations</td>
            </tr>
            <tr class="ob-data" *ngFor='let item of finalData'>
              <td class="title">{{item.famille}}</td>
              <td>{{item.mix}}%</td>
              <td>{{item.objectif?.toLocaleString() || 0}}</td>
              <td>{{item.prevision?.toLocaleString() || 0}}</td>
              <td>{{item.realisation?.toLocaleString() || 0}}</td>
            </tr>
            <tr class="ob-data">
              <td>Total</td>
              <td>100%</td>
              <td>{{totalObjectifFamille.toLocaleString() || 0}}</td>
              <td>{{totalPrevisionFamille.toLocaleString() || 0}}</td>
              <!-- <td>{{CurrencyFormat(totalDetails)}}</td> -->
              <td>{{totalRealisationFamille.toLocaleString() || 0}}</td>
            </tr>
         
           
          </table>
          <div>
            <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width' align='center' id='chartcontainer' [primaryXAxis]='primaryXAxis'
                [primaryYAxis]='primaryYAxis' [title]='title' [tooltip]='tooltip' (load)='load($event)'>
                <e-series-collection>
                    <e-series [dataSource]='finalDataChart' type='Bar' xName='famille' yName='objectif' name='Objectifs' [marker]='marker'> </e-series>
                    <e-series [dataSource]='finalDataChart' type='Bar' xName='famille' yName='realisation' name='Réalisations' [marker]='marker'> </e-series>
                    <e-series [dataSource]='finalDataChart' type='Bar' xName='famille' yName='prevision' name='Prévisions' [marker]='marker'> </e-series>
                </e-series-collection>
            </ejs-chart>
          </div>
        </div>
      </div>
    </div>
    

    <div *ngIf="vente == false">
      <div class="tableGlobalContainer">
        <table class="table-ob">
          <tr class="theader">
            <td class="dateChanger"><i class="fas fa-caret-left" (click)="previousYear()"></i> {{yearDate()}} <i class="fas fa-caret-right" (click)="nextYear()"></i></td>
            <td *ngFor='let item of dateRange(year),let i = index'  (click)="selectObjectif(i)" [class.selectedObt]="i == selectedOb">{{item}}</td>
          </tr>
          <tr class="ob-data">
            <td class="title">Achats</td>
            <td *ngFor="let item of rangeAchat,let i = index" [class.selectedOb]="i == selectedOb"> 
              <span   *ngIf="showInputIndex != i">{{CurrencyFormat(item)}}</span>
              
            </td>
          </tr>
          <tr class="ob-data">
            <td class="title">Stock</td>
            <td *ngFor="let item of rangeStock,let i = index" [class.selectedOb]="i == selectedOb"> 
              <span  *ngIf="showInputIndex != i">{{CurrencyFormat(item)}}</span>
             
            </td>
          </tr>
        </table>
        <!-- Table Chart here -->
        <!-- select date,sum(quantite) from stocks where date in (select max(date) from stocks group by extract(month from date)) group by date -->
        <div style="margin-top: 20px;border: 1px solid #d6d6d6;">
          <apx-chart #charttabla
          [series]="chartOptions3.series"
          [chart]="chartOptions3.chart"
          [xaxis]="chartOptions3.xaxis"
          [dataLabels]="chartOptions3.dataLabels"
          [grid]="chartOptions3.grid"
          [stroke]="chartOptions3.stroke"
          [title]="chartOptions3.title"
        ></apx-chart>
        </div>
      </div>

      <div style="padding-bottom: 50px;">
      
        <h6 style="margin-top: 20px;">Liste Achats et Stocks du Mois : <span style="font-weight: bold;">{{selectedMonth}}</span></h6>
        <div class="cont">
          <table class="table-f">
            <tr class="fheader">
              <td style="text-align: left;">Familles</td>
              <td style="width:80px">MIX</td>
              <td style="width:120px">Achats (Dhs)</td>
              <!-- <td style="width:120px">Réalisations</td> -->
              <td style="width:120px">Stocks (Dhs)</td>
            </tr>
            <tr class="ob-data" *ngFor='let item of finalData'>
              <td class="title">{{item.famille}}</td>
              <td>{{item.mix}}%</td>
              <td>{{item.achat.toLocaleString()}}</td>
              <!-- <td>{{item.realisation.toLocaleString()}}</td> -->
              <td>{{item.stock.toLocaleString()}}</td>
            </tr>
            <tr class="ob-data">
              <td>Total</td>
              <td>100%</td>
              <td>{{totalAchatsFamille.toLocaleString()}}</td>
              <!-- <td>{{totalRealisationFamille.toLocaleString()}}</td> -->
              <!-- <td>{{CurrencyFormat(totalDetails)}}</td> -->
              <td>{{totalStockFamille.toLocaleString()}}</td>
            </tr>
         
           
          </table>
          <div>
            <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width' align='center' id='chartcontainer' [primaryXAxis]='primaryXAxis'
                [primaryYAxis]='primaryYAxis' [title]='titlestock' [tooltip]='tooltip' (load)='load($event)'>
                <e-series-collection>
                    <e-series [dataSource]='finalDataChart' type='Bar' xName='famille' yName='stock' name='Stocks' [marker]='marker'> </e-series>
                    <e-series [dataSource]='finalDataChart' type='Bar' xName='famille' yName='achat' name='Achats' [marker]='marker'> </e-series>
                    <!-- <e-series [dataSource]='finalDataChart' type='Bar' xName='famille' yName='prevision' name='Prévisions' [marker]='marker'> </e-series> -->
                </e-series-collection>
            </ejs-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
