.coefficient-master {
    width: 100vw;
    height: 100vh;
    
    .big-titre {
        /* margin-left: 24vw; */
        font-weight: bold;
        color: #383888;
        font-size: 1.5vw;
    }
    .containerr {
        margin-left: 10%;
        padding-top: 10vh;
        width: 87%;
    }
    .table {
        width: 97%;
        margin-top: 5vh;
    }
    .table1 {
        width: 100%;
    }
     ::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 10px;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: blue;
    }
    .drop-down {
        width: 80%;
        margin-top: 2vh;
        height: 4vh;
        /* font-size: 7vh; */
        font-size: 10px;
        font-weight: bold;
        color: green;
    }
    .control-drop {
        height: 4vh;
        /* font-size: 7vh; */
        font-size: 10px;
        font-weight: bold;
        color: green;
    }
    .button-ok {
        margin-left: 42vw;
        margin-top: 1vw;
    }
    .tre {
        background-color: grey;
        height: 1px;
        width: 100%;
    }
    .time {
        font-size: 10px;
        font-weight: bold;
        margin-left: 1vw;
        /* border: solid; */
        height: 3vw;
    }
    .modal-filters {
        width: 29vw;
        font-size: 12px;
        font-weight: bold;
        height: 79vh;
    }
    .modal-graph {
        width: 60vw;
        margin-left: -36%;
        border-radius: 2%;
        background-color: #1e2752;
        margin-top: 6vw;
        .graph-r {
            color: white;
            margin-left: 49vw;
            margin-top: 2vw;
            font-size: 1vw;
            font-weight: bold;
        }
        .btn-graph {
            margin-top: -1vw;
            margin-left: 51vw;
        }
    }
}





.disabled-btn{
	color: #d7cabd!important;
}

.enabled-btn{
	color: black!important;
}

ejs-dialog {
  max-height: 775px !important;
  top: 8% !important;
}

.e-dialog .e-dlg-header-content + .e-dlg-content{
	padding-top: 18px!important;
}

.button-filter{
    font-size: 11px;
    background-color: #033973;
    border: none;
}

.e-headercell,.e-detailheadercell{
    color: white;
    background-color: #033973;
}

.e-dialog .e-dlg-header-content{
    padding: 10px 19px;
    background-color: #033973;
}
.e-dialog .e-dlg-header{
    color: white;
}
.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn{
    background-color:white
}

.filterForm{
    width:100%;

    tr td{
        width:50%;
        padding: 4px 0px;
    }
}

.filterValider{
    border: none;
    background-color: #033973;
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
}

.select-nput{
    width: 100%;
    height: 28px;
}

.menu-a{
    border-radius: 50px;
    background-color: #098c83;
}

.sub-a{
    border-radius: 7px;
    padding: 4px;
    background-color: #098c83;
}

.filterDate{
    background-color: #033973;
    color: white;
    height: 20px;
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    margin-left: 1vw;
}

.select-filter{
    width: 250px;
    height: 30px;
    margin-right: 10px;
    outline: none;
    padding: 0px 10px;
    // border-color: #e0e0e0;
    // background-color: #fafafa;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    font-size: 13px;
}

.article-filter{
    height: 35.5px;
    width: 250px;
    background-color: #fafafa;
    outline: none;
    border: none;
    padding: 2px 10px;
    border-left: 2px solid #e0e0e0;
}

.btn-filter{
    height: 30px;
    border:none;
    // border-radius: 2px;
    color: rgb(211, 158, 136);
    background-color: #033973;
    
}


.rowtd{
    background-color: #fff2bd;
}

#PivotView .e-pivotview .e-grid .e-headercelldiv, .e-pivotview .e-grid .e-columnsheader{
    padding-left: 6px!important;
}

.filterBar{
    display:flex; justify-content:space-between;margin-right: 20px;
    background-color: whitesmoke;
    padding: 0px;
    border: 1px solid;
    border-color: #e0e0e0;
    border-bottom: none;
}

.paraBtn{
    font-size: 13px;
    border: none;
    padding: 10px 10px;
    background-color: whitesmoke;
    border-left: 1px solid #e0e0e0;
    outline: none;
    &:hover{
        background-color: #f9f9f9;
        cursor: pointer;
    }
}

.spanEx{
    font-size: 13px;
    border: none;
    padding: 10px 10px;
    background-color: whitesmoke;
    border-left: 1px solid #e0e0e0;
    outline: none;
}

.aff{
    border-left: 1px solid #e0e0e0;
}

.select-filter2{
    width: 100px;
    height: 30px;
    margin-right: 10px;
    outline: none;
    padding: 0px 10px;
    // border-color: #e0e0e0;
    // background-color: #fafafa;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    font-size: 13px;
}

.formPara{
    span{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    select{
        height: 30px;
    }
    input{
        height: 30px;
    }
    .paraValide{
        margin-top: 20px;
        height: 40px;
        background-color: #033973;
        border: none;
        color: white;
    }
}

.familleContainer{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-left: 15px;

    button{
        margin-bottom: 5px;
        border:none;
        color: white;
        background-color: #033973;
        padding: 5px 10px;
        border-radius: 4px;
        outline: none;
        &:hover{
            background-color: #7c8d9e;
        }
        &.active{
            background-color: #7c8d9e;
        }
    }
}
.tableContainer{
    width: 77%;
    margin-left: 15px;
    margin-bottom: 50px;
}
table{
    tr{
        td{
            padding: 5px 10px;
            font-size: 13px;
            text-align: center;
        }
    }
}
.tableHeader{
    background-color: #033973;
    color: white;
    td{
        text-align: left;
    }
}


.e-grid .e-gridheader .e-icons:not(.e-icon-hide):not(.e-check):not(.e-stop) {
    color: white!important;
}

.e-grid th.e-headercell[aria-sort='ascending'] .e-headertext, .e-grid th.e-headercell[aria-sort='descending'] .e-headertext, .e-grid th.e-headercell[aria-sort='ascending'] .e-sortfilterdiv, .e-grid th.e-headercell[aria-sort='descending'] .e-sortfilterdiv{
    color: white!important;
}


.paroBtn{
    font-size: 13px;
    border: none;
    padding: 5x 10px;
    background-color: #033973;
    /* border-right: 1px solid #e0e0e0; */
    outline: none;
    color: white;
    padding: 4px 15px;
    margin-bottom: 12px;
    border-radius: 4px;
    
}

.loading{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 7%;
    background-color: white;
    opacity: 0.8;
    color: #033973;
    font-size: 15px;
    font-weight: bold;
}

ul.bread{
    list-style: none;
    display: flex;
    padding-left: 0px;
    //background-color: bisque;
    //width: 535px;
    li{
        padding: 6px 15px;
        background-color: #fafafa;
        color: #8f8f8f;
        font-weight: bold;
        font-size: 11px;
        border-top:1px solid #e0e0e0;
        border-bottom:1px solid #e0e0e0;
        &.slash{
            padding:6px 0px!important;
        }
        a{
            text-decoration: none;
            color:#8f8f8f;
            
        }
        &.selected{
            background-color: #098c83;
            color: white;
            min-width: 130px;
    text-align: center;
            // border-top-right-radius: 50px;
            // border-bottom-right-radius: 50px;
            a{
                color:white;
            }
        }
        &:first-child{
            border:1px solid #e0e0e0;
            border-right: none;
        }
        &:last-child{
            border:1px solid #098c83;
            border-left: none;
        }
    }
}