<div class="coefficient-master">
  <div>
    <app-Menu [menuItem]="0"></app-Menu>
  </div>
  <div class="containerr">
    <div class="row" style="margin-bottom: 15px;">
      <div class="col-md-12">
        <h2 style="color:black;">Programme de Relance</h2>
        <ul class="bread">
            <li><a href="#/home"><i class="fas fa-home"></i> Dashboard</a></li>
            <li class="slash">\</li>
            <li>Master Scheduling</li>
            <li class="selected"><a href="#/statistique">Programme de Relance</a></li>
        </ul>
       
    </div>
    </div>
    <div class="row" style="display: flex">
        <div class="familleContainer">
          <button  (click)="selectFamille(item.id)" [class.active]="item.id == familleD" *ngFor="let item of FamilleListe">{{item.famille}}</button>
        </div>
        <div class="tableContainer">
          <!-- <a class="paroBtn" href="#/generation-commande" style="color:white;text-decoration:none"><i class="fas fa-long-arrow-alt-left"></i> Retour</a> -->
          <div class="control-section" style="margin-top: 11px;">
            <span class="loading" style="padding-top:52px;width: 70%!important;"  *ngIf='dataLoading'>
              <i class="fas fa-spinner fa-spin"></i> Chargement des données....
          </span>
            <ejs-grid #grid [dataSource]='dataGlobal' allowResizing= 'true' allowPaging='true' allowSorting='true' (toolbarClick)='toolbarClick($event)' [allowExcelExport]='true' [toolbar]='toolbar' [pageSettings]='initialPage'>
                <e-columns>
                    <e-column field='famille' headerText='Famille' width='90' [visible]="false"></e-column>
                    <e-column field='code' headerText='Code' width='90'  textAlign='Left'></e-column>
                    <e-column field='designation' headerText='Désignation' width='200' textAlign='Left'></e-column>
                    <e-column field='classe' headerText='Classe' width='90' textAlign='Center'></e-column>
                    <e-column field='cmd' headerText='Commande En Cours' width='180' textAlign='Center'></e-column>
                    <e-column field='vmj' headerText='VMJ' width='90' textAlign='Center'></e-column>
                    <e-column field='stock' headerText='Stock' width='90' textAlign='Center'></e-column>
                    <e-column field='couverture' headerText='Couverture' width='120' textAlign='Center'></e-column>
                </e-columns>
            </ejs-grid>
        
        </div>
        </div>
    </div>
</div>

