<div class="home-master">
    <!-- commun script -->
    <div>
        <div class="menu">
            <div class="menu-items center-v">
                <img class="EE-logo" src="assets/logo.png" alt="" style="background-color: white;
                border-radius: 17px;
                width: 50px;">
            </div>
            <div class="menu-items center-v" style="margin-top:13vh;">
                <i class="fas fa-sliders-h"></i>
            </div>
            <div class="menu-items center-v">
                <i class="fas fa-chart-area"></i>
            </div>
            <div class="menu-items active center-v">
                <i class="fas fa-calendar-alt"></i>
            </div>
            <div class="menu-items center-v ">
                <i class="fas fa-file-alt"></i>
            </div>
            <div class="menu-items center-v">
                <i class="fas fa-suitcase"></i>
            </div>
            <div class="menu-items center-v" style="margin-top: 13vh;" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>
            </div>
            <br>
        </div>

    </div>
    <!-- /commun script -->
    <div class="master">



        <div class="row">
            <div class="col-12 ">
                <img src="../../assets/icon/l.jpg" usemap="#image-map" style="margin-left: 21vw; margin-top: 15vh;">

                <map name="image-map">
                  <area target="" alt="" title="" href="#/generation-commande" coords="171,201,96,158,93,72,170,34,251,74,251,157" shape="poly">
                  <area target="" alt="" title="" href="#/snop" coords="274,77,346,35,426,76,426,156,351,194,351,199,275,159" shape="poly">
                  <area target="" alt="" title="" href="#/coefficient" coords="451,81,527,41,605,80,607,161,530,203,452,162" shape="poly">
                  <area target="" alt="" title="" href="" coords="259,179,337,221,337,299,261,339,183,300,179,219" shape="poly">
                  <area target="" alt="" title="" href="#/bi" coords="442,182,518,223,521,300,443,343,364,302,364,223" shape="poly">
                  <area target="" alt="" title="" href="" coords="" shape="0">
              </map>
            </div>

        </div>
    </div>
</div>